@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;700&family=Roboto&display=swap');

@font-face {
    src: url('../fonts/lazymonk.ttf');
    font-family: Lazymonk;
}

/**
  * ROOT
  */

:root {
    /* Colors */
    --back: rgba(35, 31, 32, 1);
    --main: rgba(255, 255, 255, 1);
    --accent: rgba(0, 164, 225, 1);
    --red: rgba(255, 0, 0, 1);

    /* Time */
    --trans: 0.5s;

    /* Pixels */
    --def: 20px;
    --ddef: calc(var(--def) * 2);
    --hdef: calc(var(--def) / 2);
    --qdef: calc(var(--def) / 4);
    --rad: 3px;
    --ifont: 20px;
    --head: 100px;
    --dhead: calc(var(--head) * 2);
    --hhead: calc(var(--head) / 2);

    /* Borders */
    --bblue: 1px solid var(--accent);
    --bwhite: 1px solid var(--main);
}

/**
  * HTML
  */

html, body {
    /* Background */
    background-color: var(--back);

    /* Font */
    font-family: Roboto;
    color: var(--accent);
}

body {
    align-content: center;
    align-items: center;
}

/**
  * FORMS
  */

form img {
    /* Positioning */
    height: 30px;
    max-width: 100%;
}

input, textarea, label, select {
    /* Reset default layout */
    background: none;
    border: none;

    /* Font */
    font-family: Roboto;
    color: var(--accent);
    font-size: var(--ifont);
    padding: var(--hdef);

    /* Background */
    border-bottom: var(--bblue);
}

label {
    /* Background */
    border-bottom: none;
}

input:focus, textarea:focus, select:focus {
    /* Background */
    border: none;
    box-shadow: inset 0 0 5px var(--accent);
}

/**
  * LINKS
  */

a:link, a:visited {
    /* Display */
    display: block;
    
    /* Font */
    text-decoration: none;
}

a:hover {
    /* Display */
    display: block;
}

/**
  * TABLES
  */

  td {
    /* Positioning */
    padding: var(--qdef);

    /* Background */
    border: var(--bblue);
}

td img {
    /* Image sizing */
    max-width: var(--ddef);
}

/**
  * HEADER
  */

header {
    /* Font */
    font-family: Oxygen;
    color: var(--main);
}

header span {
    /* Font */
    font-weight: bold;
}

header a:link, header a:visited, header a:hover {
    /* Font */
    color: var(--main);
    text-decoration: none;
}

/**
  * BREADCRUMBS
  */

.breadcrumbs {
    /* Grid positioning */
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    /* Positioning */
    width: 100%;

    /* Display flex */
    display: flex;
    flex-direction: row;
    justify-content: left;

    /* Background */
    border-top: var(--bblue);
    border-bottom: var(--bblue);
}

.breadcrumbs a:link, .breadcrumbs a:visited {
    /* Font */
    color: var(--main);
    text-decoration: none;

    /* Animation */
    transition: var(--trans);
}

.breadcrumbs a:hover {
    /* Font */
    color: var(--accent);

    /* Animation */
    transition: var(--trans);
}

/**
  * MAIN
  */

main {
    /* Positioning */
    margin-top: var(--def);
}

main input, main textarea, main label, main select {
    /* Display */
    display: block;

    /* Positioning */
    width: 400px;
    margin: 0 auto;
}

/**
  * MENU
  */

.menutop {
    /* Display */
    display: flex;
}

.menutop .menublock {
    /* Background */
    border-top: var(--bblue);
    border-bottom: var(--bblue);
    background: linear-gradient(to right, var(--back) 80%, var(--accent));    

    /* Positioning */
    padding: var(--def);

    /* Display flex */
    display: flex;
    justify-content: space-between;
}

.menublock a:link, .menublock a:visited, .menuright a:hover {
    /* Font */
    color: var(--accent);

    /* Animation */
    transition: var(--trans);
}

.menublock a:hover, .menuright a:link, .menuright a:visited {
    /* Font */
    color: var(--main);

    /* Animation */
    transition: var(--trans);
}

.menublock .menuright {
    /* Font */
    color: var(--main);
}

.menubottom, .menusettings {
    /* Display */
    display: flex;
}

.menubottom .menublock, .menusettings .menublock {
    /* Background */
    border-top: var(--bblue);
    border-bottom: var(--bblue);
    background: linear-gradient(to right, var(--back) 80%, var(--accent));

    /* Positioning */
    padding: var(--def);

    /* Display */
    display: flex;
    justify-content: space-between;
}

.menuright a {
    /* Font */
    font-size: var(--def);
    text-align: right;
}

/**
  * TOOLBAR
  */

.toolbar {
    /* Display */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    /* Positioning */
    margin-bottom: var(--def);
}

.toolbar a:link, .toolbar a:visited, .yesnobuttons a:link, .yesnobuttons a:link {
    /* Display */
    display: block;

    /* Positioning */
    padding: var(--def);
    max-width: 100%;

    /* Background */
    background-color: var(--accent);
    border-radius: var(--rad);

    /* Font */
    color: var(--back);

    /* Animation */
    transition: var(--trans);
}

.toolbar a:hover, .yesnobuttons a:hover {
    /* Background */
    background-color: var(--back);
    outline: var(--bblue);
    box-shadow: inset 0 0 10px var(--accent);

    /* Font */
    color: var(--main);

    /* Animation */
    transition: var(--trans);
}

.toolbar a {
    /* Positioning */
    margin-right: var(--def);
}

/*
.message {
    /* Positioning */
   /* margin-top: var(--def);
    padding: var(--def);

    /* Font */
  /*  text-align: center;
    color: var(--red);
}*/

/**
  * CONTENT
  */

.content {
    /* Display flex */
    display: flex;
    flex-direction: column;
}

.content table {
    /* Positioning */
    width: 100%;
}

.content th {
    /* Positioning */
    height: 30px;

    /* Font */
    font-size: 30px;
    text-align: left;
}

.content td {
    /* Border, overwrite default td style */
    border: none;
}

.content form {
    /* Positioning */
    margin: 0 auto;
}

.content input, .content textarea {
    /* Positioning, overwrite centering */
    margin: 0px;
}

/**
  * ICON
  */

.icon {
    /* Display */
    display: inline-block;
    width: var(--ddef);
}

.icon img {
    /* Animation */
    transition: var(--trans);
}

.icon img:hover {
    /* Background */
    filter: saturate(0) brightness(2.00);
    transition: var(--trans);
}

/**
  * DELETE BUTTONS
  */

.yesnobuttons {
    /* Display flex */
    display: flex;
    flex-direction: row;

    /* Positioning */
    margin-top: var(--def);
}

.yesnobuttons a {
    /* Positioning */
    margin-right: var(--def);
}

/**
  * FOOTER
  */

footer {
    /* Positioning */
    margin-top: var(--def);
}

/**
  * CONTACT
  */

.contact {
    /* Display */
    display: grid;
}

.contactinfo {
    /* Display grid */
    grid-column: 1 / 2;
}

.contactinfo td {
    border: none;
}

.contactsubject {
    /* Background */
    border-bottom: var(--bblue);

    /* Positioning */
    padding: var(--hdef);
}

.contactmessage {
    /* Positioning */
    padding: var(--hdef);
}

.contactlink {
    /* Font */
    text-align: center;

    /* Background */
    border-top: var(--bblue);

    /* Positioning */
    padding-top: var(--hdef);
}

.contactlink a:link, .contactlink a:visited {
    /* Display */
    display: block;

    /* Background */
    background-color: var(--accent);
    border-radius: var(--rad);

    /* Font */
    color: var(--back);

    /* Positioning */
    padding: var(--hdef);

    /* Animation */
    transition: var(--trans);
}

.contactlink a:hover {
    /* Background */
    background-color: var(--back);
    outline: var(--bback);

    /* Font */
    color: var(--accent);

    /* Animation */
    transition: var(--trans);
}

/**
  * TICKETS
  */

.ticket {
    /* Display flex */
    display: flex;
    flex-direction: column;

    /* Background */
    border: 1px solid var(--accent);
    border-radius: var(--rad);

    /* Positioning */
    margin-bottom: var(--def);

    /* Animation */
    transition: var(--trans);
}


.ticket a:link, .ticket a:visited {
    /* Font */
    color: var(--accent);
}

.ticket:hover {
    /* Background */
    border: var(--bwhite);
    box-shadow: 2px 2px 5px 0px var(--main),
                -2px -2px 5px 0px var(--main);
    
    /* Animation */
    transition: var(--trans);
}

.subject {
    /* Display flex */
    display: flex;
    flex-direction: row;

    /* Positioning */
    padding: var(--hdef);

    /* Background */
    border-bottom: var(--bblue);

    /* Font */
    font-family: Oxygen;
    font-weight: bold;
    color: var(--main);
}

.customer {
    /* Font */
    font-size: 15px;
    font-family: Roboto;
    font-weight: normal;
    color: var(--accent);

    /* Positioning */
    padding-right: var(--def);
}

.detail, .status {
    /* Display flex */
    display: flex;
    flex-direction: column;

    /* Positioning */
    padding: var(--hdef);
}

.detail span {
    color: var(--main);
}

.status {
    /* Positioning */
    margin: auto 0px;
    padding: var(--def);
}

.ticket_subject {
    /* Font */
    font-family: Oxygen;
    font-size: 25px;
    font-weight: bold;
    color: var(--back);

    /* Background */
    background-color: var(--accent);
    border-radius: var(--rad);

    /* Positioning */
    padding: var(--hdef);
    margin-bottom: var(--qdef);
}

.ticket_details {
    /* Display flex */
    display: flex;
    flex-direction: row;
}

.ticket_detail, .ticket_status {
    /* Display flex */
    display: flex;
    flex-direction: column;
}

.ticket_details {
    /* Font */
    color: var(--main);
}

.ticket_details span {
    /* Font */
    color: var(--accent);
}

.ticket_detail select, .ticket_status select {
    /* Positioning */
    margin: 0px;

    /* Font */
    color: var(--main);
    font-size: 15px;

    /* Background */
    background-color: rgba(0, 0, 0, 0.5);
}

.ticket_status {
    /* Positioning */
    padding-left: var(--hdef);
}

.ticket_reply {
    /* Positioning */
    margin-top: var(--def);
}

.ticket_reply textarea {
    /* Positioning */
    width: calc(100% - 22px);
    height: 200px;

    /* Background */
    border: var(--bblue);
}

.ticket_reply input[type="file"] {
    /* Display */
    display: none;
}

.ticket_reply input[type="submit"] {
    /* Positioning */
    width: 100%;

    /* Transistion */
    transition: var(--trans);
}

.ticket_reply input[type="submit"]:hover {
    /* Background */
    background-color: var(--accent);

    /* Font */
    color: var(--back);

    /* Cursor */
    cursor: pointer;

    /* Animation */
    transition: var(--trans);
}

.ticket_reply label {
    /* Positioning */
    width: calc(100% - 20px);

    /* Background */
    background-color: var(--accent);

    /* Font */
    color: var(--main);
    text-align: center;

    /* Animation */
    transition: 0.5s;
}

.ticket_reply label:hover {
    /* Background */
    background: none;
    outline: var(--bblue);

    /* Font */
    color: var(--accent);

    /* Positioning */
    width: calc(100% - 22px);

    /* Animation */
    transition: var(--trans);

    /* Cursor */
    cursor: pointer;
}

.ticket_messages {
    /* Display flex */
    display: flex;
    flex-direction: column;

    /* Positioning */
    margin-top: var(--def);
}

.ticket_message {
    /* Background */
    border: var(--bblue);
    border-radius: var(--rad);

    /* Positioning */
    margin-bottom: var(--hdef);
    padding: var(--hdef);

    /* Font */
    color: var(--main);
}

.ticket_footer {
    /* Display flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Font */
    color: var(--accent);

    /* Positioning */
    margin-top: var(--hdef);
    padding: var(--hdef);

    /* Background */
    border-top: var(--bblue);
}

.ticket_footer a:link, .ticket_footer a:visited {
    /* Font */
    color: var(--main);
    text-decoration: underline;
}

/**
  * SETTINGS
  */

.settings input[type=checkbox] {
    /* Display */
    display: none;
}

.settings label {
    /* Display */
    display: inline-block;

    /* Background */
    background-image: url('../images/cross_red.png');
    background-size: cover;
    border-radius: var(--rad);

    /* Positioning */
    height: var(--def);
    width: var(--def);
}

.settings label:hover {
    /* Cursor */
    cursor: pointer;
}

.settings input[type=checkbox]:checked + label {
    /* Background */
    background-image: url('../images/check_green.png');
    background-size: cover;
}

.form_cat {
    /* Display */
    display: block;

    /* Positioning */
    margin-top: var(--def);

    /* Font */
    color: var(--main);
    font-size: 30px;
}

#copy_adress {
    /* Display */
    display: block;

    /* Background */
    background-color: var(--accent);
    border-radius: var(--rad);

    /* Positioning */
    padding: var(--hdef);
    margin-top: var(--hdef);

    /* Font */
    color: var(--main);
}

#copy_adress:hover {
    /* Cursor */
    cursor: pointer;
}

.check_set {
    /* Font */
    font-size: var(--def);

    /* Positioning */
    padding-left: var(--hdef);
    padding-top: var(--hdef);
    padding-bottom: var(--hdef);
    
    /* Display */
    position: relative;
}

.check_set label {
    /* Display */
    position: absolute;

    /* Positioning */
    margin-top: -10px;
}

input[type="color"] {
    /* Positioning */
    height: 50px;
}

.critical {
    /* Animation */
    animation: critical 5s infinite;
}

@keyframes critical {
    0% {
        box-shadow: inset 0px 0px 0px 0px rgba(255, 0, 0, 1);
    }

    50% {
        box-shadow: inset 50px 50px 50px 0px rgba(255, 0, 0, 1),
                    inset -50px -50px 50px 0px rgba(255, 0, 0, 1);
    }

    100% {
        box-shadow: inset 0px 0px 0px 0px rgba(255, 0, 0, 1);
    }
}

.customer {
    /* Display */
    display: inline-block;
}

.quoterow {
    /* Animation */
    transition: var(--trans);
}

.quoterow:hover {
    /* Background */
    background-color: var(--accent);

    /* Font */
    color: var(--main);

    /* Animation */
    transition: var(--trans);

    /* Cursor */
    cursor: pointer;
}

.table table {
    /* Background */
    border-collapse: collapse;
    border-spacing: 0px;
}

.quote_details {
    /* Positioning */
    width: 200px;
}

.quote_details table {
    /* Background */
    white-space: nowrap;
}

.quote_details input, .quote_details select, .quote_details label {
    /* Font */
    font-size: 15px;

    /* Positioning */
    width: 100px;
    padding: 5px;
}

.quote_account {
    /* Positioning */
    width: 50%;
}

.legend {
    /* Display */
    display: flex;
    flex-direction: column;

    /* Background */
    border-bottom: var(--bblue);

    /* Positioning */
    padding-bottom: var(--hdef);
}

.legend span {
    /* Background */
    background: linear-gradient(90deg,rgba(0, 164, 225, 1), rgba(125, 165, 225, 1));
    border-radius: var(--rad);

    /* Font */
    color: var(--back);

    /* Positioning */
    padding: 2px 10px 2px 10px;
    margin-right: var(--qdef);
    margin-bottom: var(--qdef);

    /* Display */
    display: inline-block;
}

.pages form {
    /* Positioning */
    width: 100%;
}

.pages form textarea, .pages form input {
    /* Positioning */
    width: 100%;
}

.pages form textarea {
    /* Positioning */
    height: 200px;
}

.stats {
    /* Positioning */
    width: 100%;
    margin-top: var(--def);
}

.stats span {
    /* Font */
    font-size: 30px;
    color: var(--main);
}

.stats table {
    /* Background */
    border-collapse: collapse;
    border-spacing: 0px;

    /* Positioning */
    width: 100%;
}

.stats td {
    /* Background */
    border: none;
    border-bottom: var(--bblue);
}

.pagebuttons {
    /* Display flex */
    display: flex;
    flex-direction: row;
}

.pagebutton {
    /* Positioning */
    padding: var(--hdef);
    margin-right: var(--hdef);

    /* Background */
    outline: var(--bblue);
    border-radius: var(--rad);

    /* Animation */
    transition: var(--trans);
}

.pagebutton:hover {
    /* Cursor */
    cursor: pointer;

    /* Background */
    background-color: var(--accent);

    /* Font */
    color: var(--back);

    /* Animation */
    transition: var(--trans);
}

.ticket_message_customer {
    /* Display */
    display: block;

    /* Font */
    font-weight: bold;
}

.ticket_message_user {
    /* Display */
    display: block;

    /* Font */
    font-weight: bold;
    color: var(--accent);
}