body {
    /* Display */
    display: grid;
    grid-template-columns: 1fr 600px 1fr;
    grid-template-rows: 100px 30px auto auto;
}

header {
    /* Grid positioning */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: var(--head);
    line-height: var(--hhead);

    /* Font */
    font-size: var(--hhead);
}

.breadcrumbs {
    /* Font */
    line-height: 30px;
}

main {
    /* Grid positioning */
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    /* Display flex */
    display: flex;
    flex-direction: column;
}

.menutop {
    /* Display flex */
    flex-direction: column;
}

.menutop .menublock {
    /* Positioning */
    width: calc(100% - var(--def));
    margin-bottom: var(--def);
}

.menubottom, .menusettings {
    /* Display flex */
    flex-direction: column;
}

.menubottom .menublock, .menusettings .menublock {
    /* Positioning */
    width: calc(100% - var(--def));
    margin-bottom: var(--def);
}

.menublock {
    /* Font */
    font-size: 30px;
}

.menuright a {
    /* Positioning */
    margin: 15px;
}

.content td {
    /* Positioning */
    max-width: 250px;
}

.content input, .content textarea {
    /* Positioning */
    max-width: 250px;
}

footer {
    /* Grid positioning */
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.contact {
    /* Display grid */
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px auto 50px;
}

.contactinfo {
    /* Display grid */
    grid-row: 1 / 2;
}

.contactsubject {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.contactmessage {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.contactlink {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.customer {
    /* Positioning */
    width: 120px;
}

.details {
    /* Display flex */
    display: flex;
    flex-direction: row;
}

.detail, .status {
    /* Positioning */
    width: 200px;
}

.status {
    /* Font */
    color: var(--back);
}

.ticket_toolbar {
    /* Display flex */
    display: flex;
    flex-direction: column;
}

.ticket_detail, .ticket_status {
    /* Positioning */
    width: 150px;
}

.ticket_detail select, .ticket_status select {
    /* Positioning */
    width: 150px;
}

.ticket_reply textarea {
    /* Positioning */
    max-width: 600px;
}

.ticket_reply input[type="submit"] {
    /* Positioning */
    max-width: 620px;
}

/* Do not replace to default.css, this is needed for overwrite! */
.critical {
    border: 1px solid rgba(255, 0, 0, 1);
}