body {
    /* Display */
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

header {
    /* Positioning */
    height: 100px;
    line-height: 50px;

    /* Font */
    font-size: 50px;
}

.breadcrumbs {
    /* Grid positioning */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;

    /* Background */
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);

    /* Display flex */
    display: flex;
    flex-direction: row;
    justify-content: left;

    /* Font */
    line-height: 30px;
}

main {
    /* Positioning */
    margin-top: 20px;

    /* Display flex */
    display: flex;
    flex-direction: column;
}

.content input {
    width: 80vw;
}

.menutop {
    /* Display flex */
    display: flex;
    flex-direction: column;
}

.menutop .menublock {
    /* Background */
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    background: linear-gradient(to right, var(--back) 80%, var(--accent));

    /* Positioning */
    width: calc(100%-20px);
    padding: 20px;
    margin-bottom: 20px;

    /* Display */
    display: flex;
    justify-content: space-between;
}

.menublock a:link, .menublock a:visited {
    color: var(--accent);
}

.menublock a:hover {
    color: var(--main);
}

.menublock .menuright {
    color: var(--main);
}

.menuright a:link, .menuright a:visited {
    color: var(--main);
}

.menuright a:hover {
    color: var(--accent);
}

.menubottom, .menusettings {
    /* Display flex */
    display: flex;
    flex-direction: column;

    width: calc(100vw - 20px);
}

.menubottom .menublock, .menusettings .menublock {
    /* Background */
    border-top: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    background: linear-gradient(to right, var(--back) 80%, var(--accent));

    /* Positioning */
    width: calc(100%-20px);
    padding: 20px;
    margin-bottom: 20px;

    /* Display */
    display: flex;
    justify-content: space-between;
}

.menublock {
    /* Font */
    font-size: 30px;
}

.menuright a {
    /* Font */
    font-size: 20px;
    text-align: right;

    /* Positioning */
    margin: 15px;
}

.content th {
    /* Positioning */
    height: 30px;

    /* Font */
    font-size: 30px;
    text-align: left;
}

.content td {
    /* Border, overwrite default td style */
    border: none;
    max-width: 200px;
}

.content input, .content textarea {
    /* Positioning, overwrite centering */
    margin: 0px;
    max-width: 200px;
}

footer {
    /* Grid positioning */
    margin-top: 20px;
}

.contact {
    /* Display grid */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 50px auto 50px;
}

.contactinfo {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.contactinfo td {
    border: none;
}

.contactsubject {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    /* Background */
    border-bottom: 1px solid var(--accent);

    /* Positioning */
    padding: 10px;
}

.contactmessage {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    /* Positioning */
    padding: 10px;
}

.contactlink {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    /* Font */
    text-align: center;

    /* Background */
    border-top: 1px solid var(--accent);

    /* Positioning */
    padding-top: 10px;
}

.contactlink a:link, .contactlink a:visited {
    /* Display */
    display: block;

    /* Background */
    background-color: var(--accent);
    border-radius: 3px;

    /* Font */
    color: var(--back);

    /* Positioning */
    padding: 10px;

    /* Animation */
    transition: 0.5s;
}

.contactlink a:hover {
    /* Background */
    background-color: var(--back);
    outline: 1px solid var(--accent);

    /* Font */
    color: var(--accent);

    /* Animation */
    transition: 0.5s;
}