body {
    /* Override grid display style */
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.quickenquiry {
    display: none;
}

.headerleft {
    width: 100vw;
    height: 150px;

    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom 25% left 50%;
    background-size: cover;
}

.headerleft img {
    /* Image positioning in container */
    width: 150px;
    margin: 0 auto;
    display: block;
}

.headermain {
    /* Positioning */
    z-index: 1;

    /* Background */
    background-color: var(--grey);

    /* Text style */
    color: var(--white);
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.headermain span {
    /* Adjusted font weight for company name */
    font-weight: 700;
}

.headersub {
    /* Positioning */
    position: relative;
    z-index: 3;
    /*margin-top: 70px;*/

    /* Text styling */
    font-size: 20px;
    font-weight: 700;
    color: var(--blue);
    text-align: center;
    text-shadow: -1px -1px 0 var(--grey),
                 -1px 1px 0 var(--grey),
                 1px -1px 0 var(--grey),
                 1px 1px 0 var(--grey);
}

.headerimage {
    display: none;
}

.menu {
    /* Positioning in header */
    z-index: 4;
    margin-top: 20px;

    /* Display flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    /* Background */
    background-color: var(--grey);
}

.menu a:link, .menu a:visited {
    /* Menu link styling */
    display: block;
    color: var(--blue);
    padding: 10px;
    transition: 0.5s;
}

.menu a:hover, .language:hover {
    /* Hover menu link styling */
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    transition: 0.5s;
}

.container {
    /* Grid placement in body */
    margin-top: 20px;
}

main {
    /* Position */
    min-height: 300px;
    max-width: calc(100vw - 40px);
}

footer {
    /* Flex display */
    display: flex;
    flex-direction: column;

    /* Text */
    text-align: center;
    color: var(--white);
}

.footerleft {
    /* Background */
    background-color: var(--grey);

    /* Text */
    font-size: 15px;
    padding: 20px;
}

.footermiddle {
    /* Background */
    background-color: var(--grey);

    /* Text */
    font-size: 15px;
    padding: 20px;
}

.footerright {
    /* Background */
    background-color: var(--grey);

    /* Text */
    font-size: 15px;
    padding: 20px;
}

.webshop {
    /* Display flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.webshop .webshop_category {
    /* Display flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    /* Font */
    font-size: 25px;
    font-family: Oxygen;

    /* Positioning */
    width: 250px;
    height: 320px;
}

.webshop .webshop_title {
    text-align: center;
}

.webshop img {
    /* Positioning */
    width: 200px;
    height: 200px;
    object-fit: cover;
}


.product {
    /* Display grid */
    display: flex;
    flex-direction: column
}

.product_image img {
    max-width: 300px;
    object-fit: cover;
}

.product_details .title {
    font-size: 30px;
}

.product_details td {
    /* Positioning */
    min-width: 100px;
}

.product_details span {
    display: block;
    font-size: 20px;
    margin-top: 20px;
}

.product_properties {
    /* Positioning */
    margin-top: 20px;
}

.product_specifications {
    /* Positioning */
    margin-top: 20px;
}

.tdname {
    width: 150px;
}

.tickets {
    /* Display grid */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.tickets .title {
    /* Display */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.tickets .toolbar {
    /* Display */
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;

    /* Background */
    background-color: var(--grey);
    border-radius: 2px;

    /* Positioning */
    padding: 10px;

    /* Font */
    color: var(--white);
}

.tickets .toolbar a:link, .tickets .toolbar a:visited {
    /* Font */
    color: var(--blue);
    text-decoration: none;

    /* Animation */
    transition: 0.5s;
}

.tickets .toolbar a:hover {
    /* Font */
    color: var(--white);

    /* Background */
    background-color: var(--blue);
    border-radius: 2px;

    /* Animation */
    transition: 0.5s;
}

.tickets .ticket_content {
    /* Display */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;

    /* Positioning */
    padding: 10px;
}

.ticket_content input {
    border-bottom: 1px solid var(--blue);
}

.ticket_content textarea {
    height: 200px;
    border-bottom: 1px solid var(--blue);
}

.toolbar input[type="file"], .toolbar input[type="checkbox"] {
    /* Display */
    display: none;
}

.toolbar label, .toolbar select {
    /* Font */
    color: var(--blue);

    /* Positioning */
    padding: 10px;
    margin-bottom: 10px;

    /* Background */
    border: 1px solid var(--blue);
    background-color: var(--grey);
}

.toolbar label:hover {
    /* Cursor */
    cursor: pointer;
}

#notiflabel {
    /* Background */
    border: 1px solid rgba(0, 255, 0, 1);

    /* Font */
    color: rgba(0, 255, 0, 1);
}

.ticketsummary {
    /* Display Flex */
    display: flex;
    flex-direction: column;

    /* Background */
    border: 1px solid var(--grey);
    border-radius: 3px;

    /* Positioning */
    margin-bottom: 10px;
}

.ticketsummary a:link, .ticketsummary a:visited {
    /* Font */
    color: var(--grey);
    text-decoration: none;

    /* Animation */
    transition: 0.5s;
}

.ticketsummary a:hover {
    /* Background */
    background-color: var(--grey);

    /* Font */
    color: var(--white);

    /* Animation */
    transition: 0.5s;
}

.ticketsummary_subject {
    /* Positioning */
    padding: 10px;

    /* Font */
    font-family: 'Oxygen';
    font-weight: bold;
    font-size: 25px;
}

.ticketsummary_details {
    /* Display Flex */
    display: none;
}

.brandribbon {
    /* Background */
    background-color: var(--white);
    border-radius: 3px;

    /* Display flex */
    display: flex;
    flex-direction: row;

    /* Positioning */
    max-width: 100vw;
}

.brandribbon a {
    /* Display flex */
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;

    /* Display */
    display: block;

    /* Positioning */
    max-height: 100px;
}

.brandribbon a img {
    /* Display */
    display: block;

    /* Positioning */
    max-width: 100%;
    max-height: 100px;
    margin: 0 auto;
}

.order_products table {
    /* Background */
    border-spacing: 0px;
    border-collapse: separate;

    /* Positioning */
    margin: 0 auto;
}

.order_products th {
    /* Font */
    text-align: left;
}

.order_products td {
    /* Background */
    border-bottom: 1px solid var(--greyed);

    /* Positioning */
    padding-left: 10px;
}

.order_products td input {
    width: 60px;
    font-size: 15px;
}

td.cart_bottom {
    /* Positioning */
    padding-top: 20px;

    /* Background */
    border: none;
}

.cart_bottom input[type="submit"], .cart_bottom a:link, .cart_bottom a:visited {
    /* Display */
    display: inline-block;

    /* Positioning */
    padding: 5px;
    
    margin-right: 10px;

    /* Background */
    border: 1px solid var(--blue);
    border-radius: 2px;
    background-color: var(--blue);

    /* Animation */
    transition: 0.5s;

    /* Font */
    font-size: 14px;
    color: var(--grey);
    text-decoration: none;
    text-align: center;
}

.cart_bottom input[type="submit"] {
    /* Positioning */
    width: auto;
}

.cart_bottom input[type="submit"]:hover, .cart_bottom a:hover {
    /* Background */
    background: none;

    /* Cursor */
    cursor: pointer;

    /* Animation */
    transition: 0.5s;

    /* Font */
    color: var(--blue);
    text-decoration: none;
}

.cart_amount {
    /* Display */
    display: block;

    /* Positioning */
    width: 100px;
    padding: 10px;
}

.cart_product {
    /* Positioning */
    width: 400px;
}

.cart_small img {
    /* Positioning */
    width: 30px;
}

.contact {
    /* Display flex */
    display: flex;
    flex-direction: row;

    /* Positioning */
    margin-top: 20px;
}

.contact_left, .contact_right {
    /* Display flex */
    flex-basis: 300px;
    flex-grow: 1;
}

.contact_left {
    /* Positioning */
    margin-right: 10px;
}

.contact_right {
    /* Positioning */
    margin-left: 10px;
}

.contact_message {
    /* Display */
    display: flex;
    flex-direction: column;

    /* Positioning */
    margin-top: 20px;
}

.contact_message a:link, .contact_message a:visited {
    /* Font */
    text-decoration: none;
    color: var(--white);
    text-align: center;

    /* Positioning */
    padding: 10px;
    margin-bottom: 10px;

    /* Background */
    background-color: var(--blue);
    border-radius: 2px;

    /* Animation */
    transition: 0.5s;
}

.contact_message a:hover {
    /* Background */
    background: none;
    outline: 1px solid var(--blue);

    /* Font */
    color: var(--blue);

    /* Animation */
    transition: 0.5s;
}

.contact_message a.sendquotation {
    /* Display */
    display: block;

    /* Positioning */
    padding: 20px;

    /* Font */
    color: var(--grey);
    text-align: center;

    /* Background */
    background-color: rgba(0, 255, 0, 1);
}

.contact_message a.sendquotation:hover {
    /* Background */
    background: none;
    outline: 1px solid rgba(0, 255, 0, 1);

    /* Font */
    color: rgba(0, 255, 0, 1);
}

.contact_message a.cancelquotation {
    /* Font */
    color: var(--grey);

    /* Background */
    background-color: rgba(255, 0, 0, 1);
}

.contact_message a.cancelquotation:hover {
    /* Background */
    background: none;
    outline: 1px solid rgba(255, 0, 0, 1);

    /* Font */
    color: rgba(255, 0, 0, 1);
}