body {
    /* Body grid */
    grid-template-columns: 1fr 200px 500px 500px 1fr;
    grid-template-rows: 100px 100px 200px 1fr;
}

.headerleft, .headermain, .menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 5;
}

.headerleft {
    /* Header left placement */
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    /* Animation */
    transition: var(--trans);
}

.headerleft img {
    /* Image fit to container */
    object-fit: cover;
    width: 100%;
    max-height: 100%;

    /* Positioning to background image */
    z-index: 2;
    position: relative;

    /* Animation */
    transition: var(--trans);
}

.headermain {
    /* Header main placement */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 100%;

    /* Text style */
    font-size: 50px;
    line-height: 100px;

    /* Padding */
    padding-left: var(--def);

    /* Background */
    background-color: var(--grey);

    /* Animation */
    transition: var(--trans);
}

.headersub {
    /* Position in grid */
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    
    /* Position against background */
    z-index: 3;
    position: relative;
    padding-left: var(--def);

    /* Text styling */
    font-size: 30px;
}

.headerimage {
    /* background positioning */
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    z-index: 1;
}

.menu {
    /* Positioning */
    grid-column: 4 / 5;
    grid-row: 1 / 2;

    /* Size */
    height: 100%;
    width: 100%;

    /* Display flex */
    justify-content: right;
    align-items: center;

    /* Overrule default header font */
    font-family: Roboto;

    /* Animation */
    transition: var(--trans);
}

.menu a:link, .menu a:visited {
    /* Font */
    white-space: nowrap;
}

.container {
    /* Grid placement in body */
    grid-column: 2 / 5;
    grid-row: 4 / 5;
    margin-top: var(--def);

    /* Main grid 12*12 fractions, first row 100px high */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
}

main {
    /* Positioning in grid */
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

footer {
    /* Positioning in grid */
    grid-column: 1 / 13;
    grid-row: 2 / 3;

    /* Display flex */
    flex-direction: row;
    justify-content: center;

    /* Text */
    color: var(--blue);
}

.footerleft {
    /* Flex for parent */
    flex-grow: 1;

    /* Flex display */
    display: flex;
    flex-direction: column;
}

.footermiddle {
    /* Flex for parent */
    flex-grow: 1;

    /* Flex display */
    display: flex;
    flex-direction: column;
}

.footerright {
    /* Flex for parent */
    flex-grow: 1;

    /* Flex display */
    display: flex;
    flex-direction: column;
}

.product {
    /* Display grid */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}

.product_image {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product_image img {
    max-width: 580px;
    object-fit: cover;
}

.product_details {
    /* Display grid */
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    /* Positioning */
    padding-left: var(--def);
}

.product_details td {
    /* Positioning */
    min-width: 200px;
}

.product_properties {
    /* Display grid */
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.product_specifications {
    /* Display grid */
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.tdname {
    /* Positioning */
    width: 150px;
}

.mainContent {
    /* Display flex */
    display: flex;
    flex-direction: row;
}

.mainContent .mainLeft, .mainContent .mainRight {
    /* Display flex */
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    /* Positioning */
    width: 50%;
}

.mainContent .mainLeft {
    /* Positioning */
    margin-right: var(--hdef);
}

.mainContent .mainRight {
    /* Positioning */
    margin-left: var(--hdef);
}

.accountdetails a:link, .accountdetails a:visited {
    /* Positioning */
    margin-bottom: 0px;
}

.accountdetails input[type="submit"] {
    /* Positioning */
    margin-bottom: 0px;
}

.tickets {
    /* Display grid */
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
}

.tickets .title {
    /* Display */
    grid-column: 1 / 3;
}

.tickets .ticket_content {
    /* Display */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.ticketsummary_details {
    /* Display Flex */
    display: flex;
    flex-direction: row;
}

.ticketstatus {
    /* Positioning */
    width: 200px;
    padding: var(--hdef);

    /* Font */
    Text-align: center;
    align-self: center;
    font-family: 'Oxygen';
    font-weight: bold;
}

.ticketdetail {
    /* Display Flex */
    display: flex;
    flex-direction: column;

    /* Positioning */
    width: 200px;
}

.ticketdetail span {
    /* Font */
    font-family: 'Oxygen';
    font-weight: bold;
}

.brandribbon {
    /* Positioning */
    max-width: 1160px;
}

.cart_bottom input[type="submit"], .cart_bottom a:link, .cart_bottom a:visited {
    /* Positioning */
    padding: var(--hdef);
    width: 200px;
    margin-right: var(--def);

    /* Font */
    font-size: 15px;
}

.cart_bottom input[type="submit"] {
    /* Positioning */
    width: 220px;
}

.contact_message {
    /* Display */
    display: block;
}

.contact_message a.sendquotation {
    /* Positioning */
    margin-top: var(--def);
}