body {
    /* Body grid */
    grid-template-columns: 1fr 200px 600px 1fr;
    grid-template-rows: 100px 100px 200px 40px 1fr;
}

.headerleft {
    /* Header left placement */
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    /* Animation */
    transition: var(--trans);
}

.headerleft img {
    /* Image fit to container */
    object-fit: cover;
    width: 100%;
    max-height: 100%;

    /* Positioning to background image */
    z-index: 2;
    position: relative;

    /* Animation */
    transition: var(--trans);
}

.headermain {
    /* Header main placement */
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    height: 100%;

    /* Text style */
    font-size: var(--ddef);
    line-height: 100px;

    /* Padding */
    padding-left: var(--def);

    /* Animation */
    transition: var(--trans);
}

.headersub {
    /* Position in grid */
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    
    /* Position against background */
    z-index: 3;
    position: relative;
    padding-left: var(--def);

    /* Text styling */
    font-size: 30px;
}

.headerimage {
    /* background positioning */
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    z-index: 1;
}

.menu {
    /* Positioning in container */
    grid-column: 2 / 4;
    grid-row: 4 / 5;

    /* Display flex */
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

    /* Animation */
    transition: var(--trans);
}

.container {
    /* Grid placement in body */
    grid-column: 2 / 4;
    grid-row: 5 / 6;

    /* Container grid */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
}

main {
    /* Positioning in grid */
    grid-column: 1 / 13;
    grid-row: 2 / 3;
}

footer {
    /* Positioning in grid */
    grid-column: 1 / 13;
    grid-row: 3 / 4;

    /* Background */
    background-color: var(--grey);

    /* Display flex */
    flex-direction: row;
    justify-content: center;
}

.footerleft {
    /* Flex for parent */
    flex-grow: 1;

    /* Flex display */
    display: flex;
    flex-direction: column;

    /* Text */
    color: var(--white);
}

.footermiddle {
    /* Flex for parent */
    flex-grow: 1;

    /* Flex display */
    display: flex;
    flex-direction: column;

    /* Text */
    color: var(--white);
}

.footerright {
    /* Flex for parent */
    flex-grow: 1;

    /* Flex display */
    display: flex;
    flex-direction: column;

    /* Text */
    color: var(--white);
}

.product {
    /* Display grid */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}

.product_image {
    /* Display grid */
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.product_image img {
    max-width: 380px;
    object-fit: cover;
}

.product_details {
    /* Display grid */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.product_details td {
    /* Positioning */
    min-width: 200px;
}

.product_properties {
    /* Display grid */
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.product_specifications {
    /* Display grid */
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.tdname {
    width: 250px;
}

.tickets {
    /* Display grid */
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
}

.tickets .title {
    /* Display */
    grid-column: 1 / 3;
}

.tickets .ticket_content {
    /* Display */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.ticketsummary_details {
    /* Display Flex */
    display: flex;
    flex-direction: row;
}

.ticketstatus {
    /* Positioning */
    width: 100px;
    padding: var(--hdef);

    /* Font */
    Text-align: center;
    align-self: center;
    font-family: 'Oxygen';
    font-weight: bold;
}

.ticketdetail {
    /* Display Flex */
    display: flex;
    flex-direction: column;

    /* Positioning */
    width: 150px;
}

.ticketdetail span {
    /* Font */
    font-family: 'Oxygen';
    font-weight: bold;
}

.brandribbon {
    /* Positioning */
    max-width: 760px;
}

.cart_bottom input[type="submit"], .cart_bottom a:link, .cart_bottom a:visited {
    /* Positioning */
    padding: var(--hdef);
    width: 200px;
    margin-right: var(--def);

    /* Font */
    font-size: 15px;
}

.cart_bottom input[type="submit"] {
    /* Positioning */
    width: 220px;
}

.contact_message {
    /* Display */
    display: flex;
    flex-direction: column;
}

.contact_message a:link, .contact_message a:visited {
    /* Font */
    text-align: center;
}