body {
    /* Override grid display style */
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.quickenquiry {
    /* Display */
    display: none;
}

.headerleft {
    /* Positioning */
    width: 100vw;
    height: 150px;

    /* Background */
    background: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom 25% left 50%;
    background-size: cover;
}

.headerleft img {
    /* Image positioning in container */
    width: 150px;
    margin: 0 auto;
    display: block;
}

.headermain {
    /* Positioning */
    z-index: 1;

    /* Background */
    background-color: var(--grey);

    /* Text style */
    font-size: 35px;
    line-height: 50px;
    text-align: center;
}

.headersub {
    /* Positioning */
    position: relative;
    z-index: 3;

    /* Text styling */
    font-size: var(--def);
    text-align: center;
}

.headerimage {
    /* Display */
    display: none;
}

.menu {
    /* Positioning in header */
    z-index: 4;
    margin-top: var(--def);

    /* Display flex */
    justify-content: center;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.container {
    /* Grid placement in body */
    margin-top: var(--def);
}

main {
    /* Position */
    max-width: calc(100vw - 40px);
}

footer {
    /* Flex display */
    flex-direction: column;

    /* Text */
    text-align: center;
    color: var(--white);
}

.product {
    /* Display grid */
    display: flex;
    flex-direction: column
}

.product_image img {
    max-width: 300px;
    object-fit: cover;
}

.product_details td {
    /* Positioning */
    min-width: 100px;
}

.product_properties {
    /* Positioning */
    margin-top: var(--def);
}

.tdname {
    width: 150px;
}

.tickets {
    /* Display grid */
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.tickets .title {
    /* Display */
    grid-column: 1 / 2;
}

.tickets .ticket_content {
    /* Display */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.ticketsummary_details {
    /* Display Flex */
    display: none;
}

.brandribbon {
    /* Positioning */
    max-width: 100vw;
}

.cart_bottom input[type="submit"], .cart_bottom a:link, .cart_bottom a:visited {
    /* Positioning */
    padding: 5px;
    margin-right: var(--hdef);

    /* Font */
    font-size: 14px;
}

.cart_bottom input[type="submit"] {
    /* Positioning */
    width: auto;
}

.contact_message {
    /* Display */
    display: flex;
    flex-direction: column;
}

.contact_message a:link, .contact_message a:visited {
    /* Font */
    text-align: center;
}